[data-md-color-scheme="qdl"] {
    --md-primary-fg-color: #00A6D6;
    --md-accent-fg-color: #01475a;
    --md-typeset-a-color: #00A6D6;
}
[data-md-color-scheme="qdl"] img[src$="#only-dark"],
[data-md-color-scheme="qdl"] img[src$="#gh-dark-mode-only"] {
  display: none; /* Hide dark images in light mode */
}

[data-md-color-scheme="qdl-dark"] {
    --md-hue: 216;

    --md-primary-fg-color:             #01475a;
    --md-accent-fg-color:              #00A6D6;

    --md-default-fg-color:             hsla(var(--md-hue), 75%, 95%, 1);
    --md-default-fg-color--light:      hsla(var(--md-hue), 75%, 90%, 0.62);
    --md-default-fg-color--lighter:    hsla(var(--md-hue), 75%, 90%, 0.32);
    --md-default-fg-color--lightest:   hsla(var(--md-hue), 75%, 90%, 0.12);
    --md-default-bg-color:             #1D2127;
    --md-default-bg-color--light:      hsla(var(--md-hue), 15%, 21%, 0.54);
    --md-default-bg-color--lighter:    hsla(var(--md-hue), 15%, 21%, 0.26);
    --md-default-bg-color--lightest:   hsla(var(--md-hue), 15%, 21%, 0.07);

    --md-code-fg-color:                hsla(var(--md-hue), 18%, 86%, 1);
    --md-code-bg-color:                hsla(var(--md-hue), 15%, 15%, 1);

    --md-code-hl-number-color:         hsla(6, 74%, 63%, 1);
    --md-code-hl-special-color:        hsla(340, 83%, 66%, 1);
    --md-code-hl-function-color:       hsla(291, 57%, 65%, 1);
    --md-code-hl-constant-color:       hsla(250, 62%, 70%, 1);
    --md-code-hl-keyword-color:        hsla(219, 66%, 64%, 1);
    --md-code-hl-string-color:         hsla(150, 58%, 44%, 1);
    --md-code-hl-name-color:           var(--md-code-fg-color);
    --md-code-hl-operator-color:       var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color:    var(--md-default-fg-color--light);
    --md-code-hl-comment-color:        var(--md-default-fg-color--light);
    --md-code-hl-generic-color:        var(--md-default-fg-color--light);
    --md-code-hl-variable-color:       var(--md-default-fg-color--light);

    --md-typeset-color:                var(--md-default-fg-color);
    --md-typeset-a-color:              #53cff1;

    --md-typeset-kbd-color:            hsla(var(--md-hue), 15%, 94%, 0.12);
    --md-typeset-kbd-accent-color:     hsla(var(--md-hue), 15%, 94%, 0.2);
    --md-typeset-kbd-border-color:     hsla(var(--md-hue), 15%, 14%, 1);

    --md-typeset-table-color:          hsla(var(--md-hue), 75%, 95%, 0.12);

    --md-admonition-fg-color:          var(--md-default-fg-color);
    --md-admonition-bg-color:          var(--md-default-bg-color);

    --md-footer-bg-color:              hsla(var(--md-hue), 15%, 12%, 0.87);
    --md-footer-bg-color--dark:        hsla(var(--md-hue), 15%, 10%, 1);
}

[data-md-color-scheme="qdl-dark"] img[src$="#only-light"],
[data-md-color-scheme="qdl-dark"] img[src$="#gh-light-mode-only"] {
  display: none; /* Hide light images in dark mode */
}
