.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom {
    cursor: zoom-in;
}

.image-zoom-large {
    cursor: zoom-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    position: absolute;

    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    height: 150%;
    max-height: 100vh;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 4px;
    background-color: var(--md-default-bg-color);
}

.image-backdrop {
    z-index: 99;
    position: absolute;

    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 0;
}

.hide {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}
